@import '~assets/styles/constants';

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border: 1px solid $border;
  svg {
    fill: $color;
    .need-stroke {
      stroke: $color !important;
    }
  }
  &:not(.disabled) {
    &:focus, &:hover {
      color: $color;
      background-color: darken($background, 5%);
    }
    &:focus {
      border-color: darken($border, 15%);
      outline: none;
    }
    &:hover {
      border-color: darken($border, 7%);
    }
  }
  &.disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }
}

.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background .1s ease-in-out;
  font-size: inherit;
  width: 100%;
  line-height: 26px;

  &.silver {
    @include button-variant(#6b6e7c, $color-silver, transparent);
  }
  &.blue {
    @include button-variant(#fff, $color-blue, transparent);
  }
  &.green {
    @include button-variant(#fff, $color-green, transparent);
  }
  &.red {
    @include button-variant(#fff, $color-red, transparent);
  }
  &.orange {
    @include button-variant(#fff, $color-orange, transparent);
  }
  &.gray {
    @include button-variant(#fff, $color-gray, transparent);
  }
  &.null {
    @include button-variant($color-gray, #fff, #fff);
  }
}