$break-desktop: 960px;
$break-tablet: 750px;
$break-phone: 469px;
$break-zero: 0;

@mixin responsive($media) {
  @if $media == desktop {
    @media only screen and (min-device-width: $break-desktop) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-device-width: $break-tablet) and (max-width: $break-desktop - 1) { @content; }
  }
  @else if $media == phone {
    @media only screen and (min-device-width: $break-phone) and (max-width: $break-tablet - 1) { @content; }
  }
  @else if $media == zero {
    @media only screen and (min-device-width: $break-zero) and (max-width: $break-phone - 1) { @content; }
  }
}
$row-padding: 20px;
.row {
  position: relative;
  display: flow-root;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $row-padding;
  @include responsive (desktop) {
    width: $break-desktop;
  }
  @include responsive (tablet) {
    width: $break-tablet;
  }
}
