.pcs-table__item {
    border-top: 1px solid #e9ebf4;
    //position: relative;
    //width: 100%;
    cursor: pointer;
    //transition: .2s;
    //padding: 15px 0;
    //background-color: #ffffff;
    //border-bottom: 1px solid #e9ebf4;
    &:hover {
        //box-shadow: 0 0 .5rem 0 rgba(63, 81, 181, 0.1);
        z-index: 3;
    }
    &.selected {
        border: 1px solid #08aae7;
    }
}

