$color: #7a7a7a;
$color-active: #212121;
$color-active-underline: #303fa0;
$width-row: 1280px;


.pcs-table__header {
    .td {
        height: 2.7rem;
        font-weight: 600;
        font-size: .75rem;
        color: #8e92a4;
        text-transform: uppercase;
        
        
        letter-spacing: 0.3px;
        //line-height: 2rem;
        white-space: nowrap;
        background-color: #f3f6fc;
        transition: .2s;
    }
}



// Если ширина окна меньше 1280, то рисуем подсветку .item-backlight от .grid
// Иначе рисуем подсветку для .table_header
//@mixin minrow {
//    @media (min-width: #{$width-row}) {
//        @content;
//    }
//}
//
//@mixin maxrow {
//    @media (max-width: #{$width-row}) {
//        @content;
//    }
//}
//
//.item-backlight {
//    @include maxrow {
//        background-color: #ffffff;
//        border-bottom: 1px solid #e8e8e8;
//        &:hover {
//            box-shadow: 0 0 15px 0 rgba(63, 81, 181, 0.2);
//        }
//    }
//}
//
$arrowColor: lighten(#8e92a4, 25);
.pcs-arrow {
    position: relative;
    display: inline-block;
    width: 2.6px;
    height: 12px;
    margin-left: 10px;
    background-color: $arrowColor;
    border-radius: 2px;
    cursor: pointer;
    &:before, &:after {
        content: '';
        position: absolute;
        top: 8px;
        width: 8px;
        height: 2.6px;
        background-color: $arrowColor;
        border-radius: 2px;
        transition: .2s;
    }
    &:before {
        left: 0px;
        transform: rotate(-45deg);
    }
    &:after {
        right: 0px;
        transform: rotate(45deg);
    }
    &.ascending {
        &:before, &:after {
            top: 2.4px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &:hover {
        border-color: darken($arrowColor, 5);
    }
}
