// colors
$color-blue: #468ee5;
$color-green: #1dba7a;
$color-red: #ff596d;
$color-orange: #ffa727;
$color-white: #ffffff;
$color-silver: #eef4fc;
$color-gray: #5d616f;
$color-gray--lighten: #e7eaf3;

// font colors
$color-font: #343434;
$color-font--light: #5d616f;
$color-background: #fafbfe;
$color-border: #e8e8e8;

//$color__blue--lighten: #98caf6;
//$color-green--light: #36be7c;
//$color__gray: #95a3b4;
//$color__gray-51: #515151;
//$color__gray--light: #d4d8df;


